.sign-in {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 64px;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
    
    @media(max-width: 767px) { 
        padding-top: 96px;

        .buttons {
            flex-direction: column;
        }

        button {
            margin-bottom: 16px;
            width: 100%;
        }
    }

    .group .form-input {
        color: #ebd9ae;
        border-bottom: 1px solid #ebd9ae;
    }

    .group .form-input-label {
        color: #ebd9ae;
    }
}