.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
    
    @media(max-width: 767px) { 
        width: 100%;

        .form-input {
            padding: 0;
        }

        .form-input-label {
            padding: 0;
        }

        button {
            margin-bottom: 16px;
            width: 100%;
        }
    }
}