.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (max-width: 767px) {
        flex-flow: column;
        padding-top: 96px;
    }
}
