.checkout-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    padding-top: 64px;

    .checkout-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ebd9ae;

        .header-block {
            display: flex;
            justify-content: center;
            text-transform: capitalize;
            color: #ebd9ae;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }

    .total {
        margin-top: 30px;
        margin-left: auto;
        font-size: 24px;
        color: #ebd9ae;
    }

    .test-warning {
        text-align: center;
        margin-top: 40px;
        font-size: 16px;
        color: #ebd9ae;
    }

    .stripe {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 64px;

        @media(max-width: 767px) {
            flex-flow: column;
        }
    }

    @media(max-width: 767px) {
        padding-top: 128px;
    }
}
