.sign-in-and-sign-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media(max-width: 991px) {
        grid-template-columns: 1fr;
    }

    .custom-button {
        border: 1px solid #ebd9ae;
        color: #ebd9ae;
        background-color: #fff;
        &:hover {
            background-color: #000;
            border: 1px solid #000;
            color: #fff;
        }
    }
}

